{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The tag below includes the right menu - partials/navigation.hbs --}}
{{> "navigation"}}
<main class="content col-lg-9" role="main">
  <article class="post head-loop">
    <a class="no-underline" href="//www.melmelboo.fr">
      <header class="main-header">
        <p><b>La famille MELMELBOO déménage !</b></p>
        <p>Ça y est, nous sommes rentrés en France !</p>
        <p>
            Pour l'occasion nous déménageons vers un blog dédié à notre nouvelle vie quotidienne
            en Bretagne.
            Notre aventure vers le zéro déchet, la parentalité positive, les petits voyages et tout
            ce qui fait de notre vie une si jolie aventure ! Vous nous suivez ?
        </p>
        <p><em>www.melmelboo.fr</em></p>
      </header>
    </a>
    <header class="main-header-mobile">
      <img src="{{asset "images/header.jpg" }}" alt="Une famille autour du monde" />
    </header>
    <section class="post-content">
      <img src="/images/globe1.jpg" id="globe-loop-post" alt="globe" />
    </section>
  </article>
    <div class="posts-loop">
      {{!-- The tag below includes the post loop - partials/loop.hbs --}}
      {{> "loop"}}
    </div>
</main>
