{% extends "layout.html" %}
{% block content %}
<main class="content col-lg-9">
<article class="post page">
  <header class="post-header">
    <h1 class="post-title">A propos de nous</h1>
  </header>
  <section class="post-content">
    <img src="/images/globe1.jpg" id="globe" alt="globe" />
    <ul class="nav nav-tabs" role="tablist">
      <li {%- if panel == "who_are_we" %} class="active" {%- endif %}>
        <a class="sub-title" href="{{ url_for('who_are_we') }}">
          Qui sommes-nous ?
        </a>
      </li>
      <li {%- if panel == "linked_posts" %} class="active" {%- endif %}>
        <a class="sub-title" href="{{ url_for('who_are_we_linked_posts') }}">
          Portraits de famille
        </a>
      </li>
      <li {%- if panel == "press" %} class="active" {%- endif %}>
        <a class="sub-title" href="{{ url_for('press') }}">
          Presse
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
      {% block panel %}{% endblock %}
      </div>
    </div>
  </section>
</article>
</main>
{% endblock %}

