{% extends "who_are_we/layout.html" %}
{% block panel %}
<br/>

<div id="accordion" role="tablist" aria-multiselectable="true">
{% for num, title, image, link, external_link, video in [
  (16,
   'Article paru sur le HUFFINGTON POST',
   '/img/articles/2017/article_huffpost_noel.png',
   '',
   'Accès à l\'article par <a href="http://www.huffingtonpost.fr/camille-latinier/voici-comment-nous-preparons-et-feterons-noel-dans-notre-camping-car-autour-du-monde_a_23304505/">ici</a>.',
   ''),
  (15,
   'Article paru sur le HUFFINGTON POST',
   '/img/articles/2017/article_huffpost_zéro_déchet.png',
   '',
   'Accès à l\'article par <a href="http://www.huffingtonpost.fr/camille-latinier/nos-12-astuces-pour-reduire-nos-dechets-pendant-notre-tour-du-monde_a_23289217/">ici</a>.',
   ''),
  (14,
   'Article paru sur EL TERRITORIO',
   '/img/articles/2017/article_el_territorio.png',
   '',
   'Accès à l\'article par <a href="http://www.elterritorio.com.ar/nota4.aspx?c=7951915483367314">ici</a>.',
   ''),
  (13,
   'Article paru sur HELLO CARAVANE',
   '/img/articles/2017/hellocaravane_octobre2017.png',
   '',
   'Accès à l\'article par <a href="http://www.hellocaravane.fr/2017/10/26/un-camping-car/">ici</a>.',
   ''),
  (12,
   'Article paru dans le TÉLÉGRAMME',
   '/img/articles/2017/Article_telegramme_septembre2017.jpg',
   '',
   'Accès à l\'article par <a href="http://www.letelegramme.fr/soir/tour-du-monde-en-famille-une-vie-en-liberte-27-09-2017-11680132.php">ici</a>.',
   ''),
  (11,
   'Article paru sur le HUFFINGTON POST',
   '/img/articles/2017/article_le_huffpost_aout2017.png',
   '/blog/presse_article_le_huffpost/',
   'Accès à l\'article par <a href="http://www.huffingtonpost.fr/camille-latinier/nous-faisons-un-tour-du-monde-avec-nos-enfants-et-ces-astuces-peuvent-vous-interesser-aussi_a_23158766/?utm_hp_ref=fr-homepage">ici</a>.',
   ''),
  (10,
   'Article paru sur LE JOURNAL DE LA MAISON',
   '/img/articles/2017/le_journal_de_la_maison01.png',
   '/blog/interview-jounal-de-la-maison/',
   'Accès à l\'article par <a href="http://www.lejournaldelamaison.fr/le-journal-de-la-maison/reportages-maisons/visite-insolite-camping-mignon-du-monde-140099.html#item=1">ici</a>.',
   ''),
  (9,
   'Article paru sur CÔTÉ MAISON',
   '/img/articles/2017/coté_maison_article01.png',
   '',
   'Accès à l\'article par <a href="http://projets.cotemaison.fr/projet/5651#48266">ici</a>.',
   ''),
  (8,
   'Reportage pour LA QUOTIDIENNE sur France 5',
   '',
   '/blog/on-passe-a-la-tele',
   '',
   '/img/articles/2017/reportage-laquotidienne'),
  (7,
   'Interview chez GRAINES DE BAROUDEURS',
   '/img/articles/2017/grainesdebaroudeurs.png',
   '/blog/petite-interview-chez-graines-de-baroudeurs',
   'Accès à l\'interview par <a href="http://grainesdebaroudeurs.com/melmelboovoyage-une-famille-autour-du-monde">ici</a>.',
   ''),
  (6,
   'Article paru dans LE TÉLÉGRAMME (06 mars 2017)',
   '/img/articles/2017/Article_Télégramme_mars2017.png',
   '/blog/notre-depart-vu-par-la-presse-locale/',
   'Accès à l\'article par <a href="http://www.letelegramme.fr/morbihan/damgan/tour-du-monde-le-grand-depart-06-03-2017-11423794.php">ici</a>.',
   ''),
  (5,
   'Article paru dans le OUEST FRANCE (05 mars 2017)',
   '/img/articles/2017/Article_Ouest_France_mars2017.png',
   '/blog/notre-depart-vu-par-la-presse-locale/',
   'Accès à l\'article par <a href="http://www.ouest-france.fr/bretagne/damgan-56750/une-famille-embarque-pour-un-tour-du-monde-4840194">ici</a>.',
   ''),
  (4,
   'Article paru dans LE TÉLÉGRAMME (31 janvier 2017)',
   '/img/articles/2017/Article_Télégramme_janvier2017',
   '/blog/melmelboo-dans-la-presse/',
   'Accès à l\'article par <a href="http://www.letelegramme.fr/morbihan/damgan/famille-latinier-le-tour-du-monde-en-730-jours-31-01-2017-11383554.php">ici</a>.',
   ''),
  (3,
   'Article paru dans le OUEST FRANCE (12 janvier 2017)',
   '/img/articles/2017/Article_Ouest_France_février2017',
   '/blog/melmelboo-dans-la-presse/',
   'Accès à l\'article par <a href="http://www.ouest-france.fr/bretagne/damgan-56750/deux-ans-autour-du-monde-en-camping-car-4790668">ici</a>.',
   ''),
  (2,
   'Interview chez TIPIYOU',
   '/img/articles/2017/Tipiyou.JPG',
   '/blog/petite-interview-chez-tipiyou',
   'Accès à l\'interview par <a href="https://www.tipiyou.com/fr/blog/268_voyage-camping-car-2-ans-de-tour-du-monde-en-famille.html">ici</a>.',
   ''),
  (1,
   'Rencontre à la BIBLIOTHÈQUE DE DAMGAN',
   '/img/articles/2017/bibliothèque_Damgan_rencontre.jpg',
   '/blog/rencontre-a-la-bibliotheque-de-damgan',
   '',
   '')] %}
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ num }}">
      <a class="press-head {% if num != 11 %}collapsed{% endif %}" data-toggle="collapse" data-parent="#accordion"
         data-target="#collapse{{ num }}" aria-expanded="false" aria-controls="collapse{{ num }}">
        {{ title }}
      </a>
    </div>
    <div id="collapse{{ num }}" class="press-pan collapse {% if num == 11 %}show{% endif %}" role="tabpanel" aria-labelledby="heading{{ num }}">
      <div class="card-block">
        <div class="col-lg-12">
          {% if link %}
          J'en parle
          <a href="{{ link }}">
            dans cet article
          </a>.
          {% endif %}
          {% if external_link %}
            {{ external_link|safe }}
          {% endif %}
          <br />
          <br />
        </div>
        {% if image %}
          <div class="col-lg-12">
            <img src="{{ image }}"
                 alt="{{ title }}"
                 title="{{ title }}"
                 style="width: 50%; margin-bottom: 30px;" />
          </div>
        {% endif %}
        {% if video %}
          <div style="width: 100%; margin-bottom: 30px;">
            <div style="width:450px;">
              <video width="450" controls preload="none">
                <source src="{{ video }}.webm" type="video/webm"/>
                <source src="/img/articles/2017/reportage-laquotidienne.mp4" type="video/mp4"/>
                <source src="/img/articles/2017/reportage-laquotidienne.ogv" type="video/ogg"/>
              </video>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
<script type="text-javascript">
</script>
<div class="col-lg-12">
  <h4 class="comment">Commenter cet article</h4>
  <section id="isso-thread"
         data-title="Qui sommes-nous"></section>
</div>
{% endblock %}
