{% extends "who_are_we/layout.html" %}
{% block panel %}
<br/>
<img style="width: 100%;" src="//www.melmelboo.fr/img/articles/2016/TDM_qui_sommes_nous02.png" alt="Qui sommes nous ?" />
<br/><br/>

<h2 class="sub-title">Nous sommes une famille de quatre personnes</h2>
<ul><strong>Benoît</strong>, le papa, ingénieur en informatique (28 ans au moment du départ)</ul>
<ul><strong>Camille</strong>, la maman, professeur des écoles (28 ans au moment du départ)</ul>
<ul><strong>Charlie</strong>, la grande soeur (presque 3 ans au moment du départ)</ul>
<ul><strong>Gaspard</strong>, le petit frère (7 mois au moment du départ)</ul>

Jusqu'à présent nous habitions dans notre petit appartement parisien du 18e arrondissement. C'était sans compter sur notre envie de changement ! Parisiens depuis trop longtemps, nous avons décidé de vendre notre chez nous et de faire nos valises pour partir explorer le monde en famille pendant deux ans. Nous sillonnerons les routes avec Baloo, notre Camping-Car ! Vous nous suivez ?
<br/><br/>
<img style="width:100%" src="//www.melmelboo.fr/img/articles/2016/52-38a.JPG" alt="Qui sommes nous ?" />
<img style="width: 49.7%;" src="http://www.melmelboo.fr/img/articles/2016/52-43a.JPG" alt="About"/>
<img style="width: 49.7%;" src="http://www.melmelboo.fr/img/articles/2016/52-43b.JPG" alt="About"/>
<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Qui sommes-nous"></section>
{% endblock %}
