{% extends "who_are_we/layout.html" %}
{% block panel %}
<br />

<img style="width: 50%;" src="//www.melmelboo-voyage.fr/img/articles/2017/cercle_polaire06.JPG" alt="Suède" title="Suède" /><img style="width: 50%;" src="//www.melmelboo-voyage.fr/img/articles/2017/Camille02.JPG" alt="Suède" title="Suède" />
<br />
<br />
<h2 class="sub-title">Un blog voyage mais pas que !</h2>
Moi, c’est Camille. Je suis une jeune maman de 29 ans. Avec mon conjoint nous avons décidé de tout quitter pour partir découvrir le monde avec nos deux enfants, Charlie, trois ans et Gaspard, un an. J'explique notre choix de vie dans l'onglet <a href="https://www.melmelboo-voyage.fr/project">LE PROJET</a> de ce site.
<br />
<br />
Début 2016, alors que nous sommes en plein préparatifs de notre voyage, je décide de lancer le blog Melmelboo Voyage afin de partager nos aventures avec nos proches et les lecteurs fidèles de mon précédent blog. Je souhaitais les rassurer par des nouvelles régulières et donner envie à d’autres familles, couples, étudiants ou simples curieux de s’ouvrir sur le monde et de se lancer dans l'extraordinaire aventure du voyage au long cours.
<br />
<br />

Sur ce blog je parle voyage. En famille, nous explorons des villes mythiques, des lieux touristiques mais aussi des endroits plus confidentiels croisés en chemin. Nous goûtons les spécialités locales que nous présentons régulièrement aux lecteurs. Je partage ici notre ressenti sur les villes et les pays visités, je retranscris notre expérience du voyage avec des mots et des images mettant en valeur les lieux découverts.
<br />
<br />

À travers mes articles, j'évoque aussi notre vie nomade tourné vers l'écologie, vers une consommation le plus possible éthique et responsable. Je prend beaucoup de plaisir à partager notre cheminement familial pour tendre vers le zéro déchet et je n'hésite pas à décrire nos réussites et nos difficultés du quotidien.
<br />
<br />

<img style="width: 25%;" src="//www.melmelboo-voyage.fr/img/articles/2017/pique_nique_vrac01.JPG" alt="Instagram" title="Instagram" /><img style="width: 25%;" src="//www.melmelboo-voyage.fr/img/articles/2017/Moscou_balade_parc_statues15b.JPG" alt="Instagram" title="Instagram" /><img style="width: 25%;" src="//www.melmelboo-voyage.fr/img/articles/2017/salle_de_bain_zero_dechet16.JPG" alt="Instagram" title="Instagram" /><img style="width: 25%;" src="//www.melmelboo-voyage.fr/img/articles/2017/Moscou_balade_parc_statues17b.JPG" alt="Instagram" title="Instagram" />
<br />
<br />

<h2 class="sub-title">Des réseaux sociaux dynamiques</h2>

Je suis passionnée par les réseaux sociaux. Je prend un immense plaisir à partager quotidiennement notre expérience du voyage avec mes lecteurs, à échanger à propos de nos destinations et de notre style de vie un peu atypique. Je suis particulièrement active sur Instagram et Facebook qui sont les relais principaux de ce blog. Ma communauté de lecteurs est attachée à notre famille et réactive sur les réseaux sociaux.

<br />
<br />
<ul>
  <li> Instagram : <strong>+ 1 600 followers</strong></li>
  <li> Facebook : <strong>+ 870 fans</strong></li>
</ul>

<img style="width: 22.5%;" src="//www.melmelboo-voyage.fr/img/articles/2017/illustration-instagram.png" alt="Instagram" title="Instagram" /><img style="width: 77.5%;" src="//www.melmelboo-voyage.fr/img/articles/2017/illustration_instagram02.png" alt="Melmelboo voyage" title="Melmelboo voyage" />

<br />
<br />
<h2 class="sub-title">Plus de 46 000 visites depuis le début de l'année</h2>

Melmelboo Voyage accueille de nombreux lecteurs fidèles, attachés à nos aventures familiales. Des lecteurs qui viennent se distraire quotidiennement, qui prennent plaisir à découvrir le monde à travers nos yeux, à voir grandir nos enfants, à découvrir des pratiques liées au mode de vie zéro déchet... Par ailleurs Melmelboo Voyage attire de plus en plus de curieux qui décortiquent longuement le site pour trouver des réponses à leurs questions.
<br />
<br />

Depuis le début de l'année 2017 notre site a accueilli <strong>46 000 visiteurs</strong> :

<ul>
  <li><strong>140 000 pages</strong> ont été consultées.</li>
  <li><strong>4 300 clics vers des liens externes</strong> ont été effectués.</li>
  <li><strong>+ 4 minutes d'engagement</strong>, c'est la durée moyenne d'une visite.</li>
</ul>
<h2 class="sub-title">Melmelboo Voyage dans les médias</h2>

Depuis sa création, le blog est relayé par des médias souhaitant partager une actualité positive et originale. C’est toujours avec un grand plaisir que je réponds aux interviews sur le web, dans la presse écrite, pour la télévision...
<br />
Vous trouverez l’ensemble de nos parutions médiatiques dans l'onglet <a href="https://www.melmelboo-voyage.fr/press">QUI SOMMES NOUS - PRESSE</a> du blog.

<br />
<img style="width: 20%;" src="//www.melmelboo-voyage.fr/img/articles/2017/logo_huffpost.jpe" alt="Instagram" title="Instagram" /><img style="width: 15%;" src="//www.melmelboo-voyage.fr/img/articles/2017/logo_ouest_france.jpe" alt="Instagram" title="Instagram" /><img style="width: 20%;" src="//www.melmelboo-voyage.fr/img/articles/2017/logo_la_quotidienne.jpe" alt="Instagram" title="Instagram" /><img style="width: 20%;" src="//www.melmelboo-voyage.fr/img/articles/2017/logo_le_télégramme.jpe" alt="Instagram" title="Instagram" /><img style="width: 20%;" src="//www.melmelboo-voyage.fr/img/articles/2017/logo_cote_maison.svg" alt="Instagram" title="Instagram" />

<br />
<br />
<h2 class="sub-title">Ce que je peux vous apporter</h2>

Melmelboo Voyage vous séduit et vous avez envie de créer une opération en partenariat avec ce blog voyage familial ? Si le produit, le lieu, l'expérience que vous souhaitez mettre en valeur correspond à la ligne éditoriale de ce blog, n'hésitez pas à me contacter via le <a href="https://www.melmelboo-voyage.fr/contact">formulaire de contact</a>. Nous pourrons alors imaginer ensemble la forme que pourra prendre notre collaboration : création de contenu, voyage de presse, tests de produits, organisation de jeu concours...
<br />
<br />

<ul>
  <li><strong>Expérience :</strong> une visite guidée, la découverte d'un lieu insolite, une nuit dans un hôtel original, une expérience intéressante, une activité avec les enfants... Vous nous permettez de vivre une chouette expérience en famille, je me propose de susciter l’intérêt du lecteur à travers un article dédié sur le blog et relayé sur mes réseaux sociaux.</li>

  <li><strong>Test produit :</strong> des vêtements éthiques pour les enfants, des chaussures écologiques pour maman, des produits biologiques intéressants, un objet de qualité et durable, un indispensable du voyageur, du matériel informatique et photographique... Vous nous permettez de réduire le coût de notre voyage et d'avoir accès à un matériel de bonne facture, je suis en mesure de mettre en valeur cet objet et ses mérites à travers un texte et des images de qualité.</li>

  <li><strong>Média :</strong> interview, article relatant notre expérience, émission, reportage... Vous apportez une jolie visibilité à notre projet familial, nous apportons une actualité positive qui fera voyager votre audience !</li>
</ul>

<img style="width: 100%;" src="//www.melmelboo-voyage.fr/img/articles/2017/NPMM19.JPG" alt="Instagram" title="Instagram" />
{% endblock %}
