{% extends "itinerary/layout.html" %}
{% block panel %}
<script src="//www.melmelboo-voyage.fr/js/ammap/ammap.js"></script>
<script src="//www.melmelboo-voyage.fr/js/ammap/maps/js/worldLow.js" type="text/javascript"></script>
{% for cmap in countries %}
{% set points = maps[cmap] %}
<script type="text/javascript" src="/js/ammap/maps/js/{{cmap}}Low.js"></script>
TODO include javascript controls (add/rm dot, add/rm coords, switch arcs sign)
<script>var map=AmCharts.makeChart("{{cmap}}_map",
  {
    type:"map",
    areasSettings:
    {
      unlistedAreasColor:"#EEE"
    },
    zoomDuration:0,
    zoomControl:{zoomControlEnabled: false},
    fontFamily: "Open Sans Condensed",
    dataProvider:{
      map:"{{cmap}}Low",
      lines: [
        {
          latitudes: [{{",".join(latitudes[cmap])}}],
          longitudes: [{{",".join(longitudes[cmap])}}]
        }
      ],
      images: [
      {% for p in points %}
        {
          type: "circle",
          latitude: {{ p['latitude'] }},
          longitude: {{ p['longitude'] }},
          width: 5
          // , label: "Ljubljana", labelPosition: "top", labelFontSize:14
        },
      {% endfor %}
      ]
    },
    linesSettings: {
      arc: -0.7, // this makes lines curved. Use value from -1 to 1
      color: "#000000",
      thickness: 0.5
    }
  }
);</script>
<div id="{{cmap}}_map" style="width: 100%; background-color:#FFF; height: 500px;"></div>
{% endfor %}
<script type="text/javascript">
var map = AmCharts.makeChart("mapdiv", {
  type: "map",
  projection: "eckert3",
  "areasSettings": {
    "unlistedAreasColor": "#EEE"
  },
  zoomDuration: 0,
  zoomControl: {
    top: 170
  },
  dataProvider: {
    map: "worldLow",
  }
});
AmCharts.ready(function () {
  map.moveDown(0.1);
});
</script>
<div id="mapdiv" style="width: 100%; background-color:#FFF; height: 500px;"></div>


{% endblock %}

