{% extends "itinerary/layout.html" %}
{% block panel %}
<p>
<br />
Vous trouverez ici la liste des pays que nous avons déjà visités au cours de notre périple. Elle sera actualisée au fur et à mesure du voyage. En cliquant sur le nom d'un pays vous accédez à sa fiche technique (caractéristiques du pays, coût de la vie, points forts, astuces pour les voyageurs...) ainsi qu'à tous les articles du blog correspondant à ce pays. Bonne découverte !
</p>
<br />
<h2 class="sub-title">Europe</h2>

<div class="linked-posts">
  <a href="/itinerary/related/france">
    <div class="col-lg-4">
      <img style="width: 100%"
           src="/img/articles/2017/FRANCE.JPG"
           alt="France" title="France"
           class="excluded_shadowbox" />
    </div>
  </a>
  <a href="/itinerary/related/italie">
    <div class="col-lg-4">
      <img style="width: 100%"
           src="/img/articles/2017/ITALIE.JPG"
           alt="Italie" title="Italie"
           class="excluded_shadowbox" />
    </div>
  </a>
</div>
<div class="clearfix"></div>
{% endblock %}
