{% extends "itinerary/layout.html" %}
{% block panel %}
<p>
<br />
Vous trouverez ici la liste des pays que nous avons déjà visités au cours de notre périple. Elle sera actualisée au fur et à mesure du voyage. En cliquant sur le nom d'un pays vous accédez à sa fiche technique (caractéristiques du pays, coût de la vie, points forts, astuces pour les voyageurs...) ainsi qu'à tous les articles du blog correspondant à ce pays. Bonne découverte !
</p>
<br />
<h2 class="sub-title">Europe</h2>

<div class="linked-posts">
  <div class="row">
{% for c1, c2, c3 in [('france', 'France', '2017/FRANCE.JPG'),
                      ('italie', 'Italie', '2017/ITALIE.JPG'),
                      ('slovenie', 'Slovénie', '2017/SLOVENIE.JPG'),
                      ('croatie', 'Croatie', '2017/CROATIE.JPG'),
                      ('hongrie', 'Hongrie', '2017/HONGRIE.JPG'),
                      ('slovaquie', 'Slovaquie', '2017/SLOVAQUIE.JPG'),
                      ('pologne', 'Pologne', '2017/POLOGNE.JPG'),
                      ('estonie', 'Estonie', '2017/ESTONIE.JPG'),
                      ('russie', 'Russie', '2017/RUSSIE.JPG'),
                      ('finlande', 'Finlande', '2017/FINLANDE.JPG'),
                      ('suède', 'Suède', '2017/SUEDE.jpg')] %}
    <a href="/itinerary/related/{{c1}}">
      <div class="col-lg-4">
        <img style="width: 100%"
             src="/img/articles/{{c3}}"
             alt="{{c2}}" title="{{c2}}"
             class="excluded_shadowbox" />
      </div>
    </a>
  {% if loop.index is divisibleby(3) %}
    </div>
    <div class="row" style="margin-top: 30px">
  {% endif %}
{% endfor %}
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}
