{% extends "itinerary/layout.html" %}
{% block panel %}
<p>
<br />
Voici l'itinéraire que nous prévoyons de suivre. Il est encore approximatif, nous sommes en pleine réflexion et il risque fortement d'évoluer au cours des mois à venir ainsi que pendant le voyage ! Dans la mesure du possible et de nos accès à internet, nous tiendrons cet itinéraire à jour afin de vous permettre de visualiser le parcours déjà entrepris, de situer le pays où nous nous trouvons actuellement ainsi que d'anticiper notre parcours pour la suite du voyage.
</p>
<p>
Vous trouverez ici la liste des pays que nous avons déjà visités au cours de notre périple. Elle sera actualisée au fur et à mesure du voyage. En cliquant sur le nom d'un pays vous accédez à sa fiche technique (caractéristiques du pays, coût de la vie, points forts, astuces pour les voyageurs...) ainsi qu'à tous les articles du blog correspondant à ce pays. Bonne découverte !
</p>
<br />
<h2 class="sub-title">Europe</h2>

<strong>[France]<br/></strong>
[Italie]<br/>
[Slovénie]<br/>
[Croatie]<br/>
[Autriche]<br/>
[Roumanie]<br/>
[Hongrie]<br/>
[Slovaquie]<br/>
[Pologne]<br/>
[Biélorussie]<br/>
[Russie]<br/>

<br />
<h2 class="sub-title">Asie</h2>

[Mongolie]<br/>
[Chine]<br/>
[Laos]<br/>
[Vietnam]<br/>
[Cambodge]<br/>
[Thaïlande]<br/>
[Birmanie]<br/>
[Bhoutan]<br/>
[Népal]<br/>
[Inde]<br/>
[Indonésie]<br/>

<br />
<h2 class="sub-title">Amérique du Sud</h2>

[Uruguay]<br/>
[Argentine]<br/>
[Chili]<br/>
[Pérou]<br/>
[Équateur]<br/>
[Colombie]<br/>
[Bolivie]<br/>
[Paraguay]<br/>
[Brésil]<br/>
{% endblock %}
