{% extends "camping_car/layout.html" %}
{% block panel %}
<br/>
<h2 class="sub-title">Caractéristiques techniques</h2>
<ul>
  <li>Porteur : <strong>Peugeot J5 2.5L turbo diesel</strong></li>
  <li>Cabine : <strong>Challenger 450 SX</strong></li>
  <li>Année du modèle : <strong>1992</strong></li>
  <li>Kilométrage : <strong>100 000 km</strong></li>
  <li>Prix : <strong>11 500 €</strong></li>
</ul>
<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Baloo notre camping car - caractéristiques techniques"></section>
{% endblock %}
