{% extends "camping_car/layout.html" %}
{% block panel %}
<br/>
<h2 class="sub-title">Caractéristiques techniques</h2>
<ul>
  <li>Porteur : <strong>Peugeot J5 2.5L turbo diesel</strong></li>
  <li>Cabine : <strong>Challenger 450 SX</strong></li>
  <li>Année du modèle : <strong>1992</strong></li>
  <li>Kilométrage : <strong>100 000 km</strong></li>
  <li>Prix : <strong>11 500 €</strong></li>
</ul>

<h2 class="sub-title">Électricité</h2>
Le panneau d'affichage électronique étant mort, nous avons récupéré des informations auprès des constructeurs
pour le réparer. Comme ces documents ne sont pas disponible sur internet en voici une diffusion en exclusivité !
<ul>
  <li>
    <a href="/images/technical-docs/circuit-elec-challenger-450-SX.pdf">
      Schéma du circuit électrique du camping car (Challenger 450 SX)
    </a>
  </li>
  <li>
    <a href="/images/technical-docs/sonde-eau-challenger-450-SX.pdf">
      Caractéristiques de la sonde de niveau d'eau (Challenger 450 SX)
    </a>
  </li>
  <li>
    <a href="/images/technical-docs/serigraphie-scheiber-0930900.pdf">
      Sérigraphie du panneau d'affichage (Scheiber concept 0930900)
    </a>
    (pas très utile mais bon...)
  </li>
</ul>
<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Baloo notre camping car - caractéristiques techniques"></section>
{% endblock %}
