{% extends "camping_car/layout.html" %}
{% block panel %}
<br/>
C'est avec un immense plaisir que nous vous présentons Baloo, le camping-car qui va nous conduire et nous héberger lors de notre voyage autour du monde ! C'est un vieux bourlingueur de 1992 avec 100 000 kilomètres au compteur, ce qui est peu si l'on se réfère à son grand âge. Il est réputé robuste avec un porteur Peugeot J5 et se trouve être en excellent état et... preeeeesque à notre goût ! Autant vous dire que nous sommes ravis de vous faire faire le tour du propriétaire en attendant de lui refaire une beauté !
<br/><br/>

<h2 class="sub-title">L'extérieur du camping-car</h2>
<img class="top_image" style="width: 49.7%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car01.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 1" /><img style="width: 49.7%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car02.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 2" />
<img style="width: 49.7%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car03.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 3" /><img style="width: 49.7%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car04.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 4" />
<br/><br/>
Baloo est ce qu'on appelle un camping-car capucine car il dispose d'un lit deux places au dessus de la cabine de conduite. Il est pourvu de grandes fenêtres qui apportent beaucoup de lumière à l'intérieur de l'habitacle, c'est très agréable ! Il dispose aussi d'un auvent, élément indispensable du voyageur pour créer une petite terrasse symbolique à l'ombre / à l'abri de la pluie à l'entrée du camping-car. Trônant fièrement au cul de celui-ci : un porte vélo. Nous ne savons pas encore si nous en aurons l'utilité lors de ce voyage car nous appréhendons un peu de devoir surveiller ce matériel qui peut être facilement volé. On trouve encore quelques soutes par-ci par-là pour ranger l'indispensable et... c'est tout ! Pour le moment du moins ! Car nous allons devoir effectuer quelques menus travaux indispensables à notre périple tel que : ajout d'un panneau solaire, éventuellement d'un coffre de toit, aménagement des soutes, ajout de notre logo sur la carosserie et j'en passe.
<br/><br/>

<h2 class="sub-title">Le plan de l'aménagement</h2>
<img class="top_image" style="width: 100%;" src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car.jpg" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - le plan général" />
<br/><br/>

Je n'ai pas trouvé l'équivalent exacte de Baloo mais grosso modo on s'y retrouve. Ce plan, bien qu'un peu approximatif, vous aidera à y voir clair. Pour les pointilleux n'hésitez pas à faire cette petite gymnastique mentale : décalez la cuisine vers la gauche pour l'accouder au lit parental, déplacez la penderie au niveau de la porte et décalez la porte à gauche de la penderie. Voilà ! Vous avez Baloo !
<br/><br/>

<h2 class="sub-title">La capucine</h2>
<img style="width: 11.1%;" src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-capucine.jpg" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la capucine" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car05.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la capucine 1" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car06.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la capucine 2" />
<br/><br/>

Le lit situé dans la capucine sera destiné aux enfants. Un filet de sécurité préviendra les mauvaises chutes. Nous n'utiliserons cet espace que lors des périodes de sommeil pour qu'il soit bien identifié comme "l'endroit où je dois dormir, être calme, me reposer, resecter le sommeil de l'autre" par Charlie et Gaspard. Il pourra être fermé par un rideau, notamment lors des périodes de sieste en journée.
<br/><br/>

<h2 class="sub-title">Le coin repas</h2>
<img style="width: 11.1%;" src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-coin-repas.jpg" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan du coin repas" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car07.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - le coin repas 1" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car08.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - le coin repas 2" />
<br/><br/>

Face à l'entrée se trouve le coin repas : une table et deux banquettes qui se font face. Cet espace sera dédié aux repas, au travail, au coloriage, aux jeux en famille... C'est notre lieu privilégié de vie commune. Lors des trajets les sièges auto des enfants seront installés sur la banquette face à la route où il voyageront en toute sécurité. Il est possible de transformer cet espace en lit deux places pour accueillir les éventuels invités qui nous feront le plaisir de partager un brin de chemin avec nous.
<br/><br/>

<h2 class="sub-title">La cuisine</h2>
<img style="width: 11.1%;" src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-cuisine.jpg" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la cuisine" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car16.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la cuisine 1" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car17.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la cuisine 2" />
<br/><br/>

La cuisine sera le lieu de toutes les expériences ! Nous ferons notre maximum pour rendre les repas variés et équilibrés au fil de nos trouvailles et de nos découvertes culinaires ! Et puis quand la nostalgie pointera le bout de son nez nous y mijoterons de bons petits plats réconforts bien de chez nous (des crêpes, des pâtes, des oeufs à la coque, un chocolat chaud...). Le frigidaire a beau être discret, il est bel et bien présent. Les feux sont vaillants et l'évier bien pratique pour la corvée de vaisselle.
<br/><br/>

<h2 class="sub-title">La salle de bain</h2>
<img style="width: 11.1%;" src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-salle-de-bain.jpg" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la salle de bain" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car13.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la salle de bain 1" /><img style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car14.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la salle de bain 2" />
<br/><br/>

L'expression est peut-être un peu excessive pour évoquer cette salle d'eau mais elle a le mérite de donner envie de s'y rendre ! Il s'agit en vérité d'un placard exigu où sont imbriqués de manière compacte une douche, un lavabo et des toilettes. Rien de bien excitant a priori. Sauf que... Nous envisageons de remplacer les toilettes chimiques par des toilettes sèches pour limiter notre impact négatif sur l'environnement car ceux-ci sont très poluants (et je ne vous parle pas de l'odeur que ça dégage quand on roule). Il va nous falloir de l'imagination pour rendre tout cela possible ! Pas mal de travaux en perspective dans ce petit espace !
<br/><br/>
<h2 class="sub-title">La chambre des parents</h2>
<img class="top_image" style="width: 11.1%;" src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-lit-parents.jpg" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la chambre des parents" /><img class="top_image" style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car10.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 1" /><img class="top_image" style="width: 44.45%;" src="//www.melmelboo.fr/img/articles/2016/Camping-car15.JPG" alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 2" />
<br/><br/>
Au fond du camping-car se trouve notre lit.
On l'a voulu permanent afin de ne pas avoir à le monter et démonter chaque jour, au quotidien ça nous semblait trop contraignant.
Au départ il s'agit d'un salon en U modulable en couchage deux places que nous allons remplacer par un vrai lit digne de ce nom.
La nuit nous pourrons fermer cet espace avec un rideau.
Notre lit fera aussi office de coin détente en journée pour bouquiner, jouer, regarder un film en famille, se faire des câlins ou des batailles de coussins.
C'était important aussi pour nous d'avoir un espace  assez vaste, confortable et sécurisé, accessible en permanence où les enfants puissent s'installer en journée pour jouer sans être sans cesse dans nos pattes.
<br/><br/>

Et bien maintenant YAPUKA !
<br/><br/>
<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Baloo notre camping car - Visite guidée"></section>
{% endblock %}
