{% extends "camping_car/layout.html" %}
{% block panel %}
<img class="top_image"
     style="width: 100%;"
     src="//www.melmelboo.fr/img/articles/2017/Plan-camping-car00.jpg"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - le plan général"  />
C'est avec un immense plaisir que nous vous présentons Baloo, le camping-car qui va nous conduire et nous héberger lors de notre voyage autour du monde ! C'est un vieux bourlingueur de 1992 avec 100 000 kilomètres au compteur, ce qui est peu si l'on se réfère à son grand âge. Il est réputé robuste avec un porteur Peugeot J5 et se trouve être en excellent état et... preeeeesque à notre goût ! Autant vous dire que nous sommes ravis de vous faire faire le tour du propriétaire en attendant de lui refaire une beauté !
<br/><br/>

<h2 class="sub-title">Baloo, notre camping-car</h2>
Baloo est ce qu'on appelle un camping-car capucine car il dispose d'un lit deux places au dessus de la cabine de conduite. Il est pourvu de grandes fenêtres qui apportent beaucoup de lumière à l'intérieur de l'habitacle, c'est très agréable ! Il dispose aussi d'un auvent, élément indispensable du voyageur pour créer une petite terrasse symbolique à l'ombre / à l'abri de la pluie à l'entrée du camping-car. Trônant fièrement au cul de celui-ci : un porte vélo pour nous permettre d'aller faire nos courses en famille sans avoir à bouger toute notre maison à roulettes. On trouve encore quelques soutes par-ci par-là pour ranger l'indispensable et... c'est tout !
<br />
<br />
<img class="top_image"
     style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Camping-car001.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 1"  /><img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Camping-car002.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 2"  /> <br/>

<img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Camping-car003.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 3"  /><img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Camping-car004.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - extérieur 4"  />
<h2 class="sub-title">La capucine</h2>
Le lit situé dans la capucine est destiné aux enfants, pour l'instant seule Charlie l'utilise. Un filet de sécurité prévient les mauvaises chutes. Un grand bac très pratique sert à ranger une grande partie des livres et des jouets des enfants. Nous n'utilisons cet espace que lors des périodes de sommeil pour qu'il soit bien identifié comme "l'endroit où je dois dormir, être calme, me reposer, resecter le sommeil de l'autre" par Charlie et Gaspard. Il peut être fermé par un rideau, notamment lors des périodes de sieste en journée.

<br />
<br />
<img style="width: 11.1%;"
     src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-capucine.jpg"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la capucine"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Capucine04.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la capucine 1"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Capucine02.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la capucine 2"  /> <br/>

<img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Capucine03.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la capucine 2"  /><img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Capucine01.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la capucine 2"  />
<h2 class="sub-title">Le coin repas</h2>
Face à l'entrée se trouve le coin repas : une table et deux banquettes qui se font face. Cet espace est dédié aux repas, au travail, au coloriage, aux jeux en famille... C'est notre lieu privilégié de vie commune. Les sièges auto des enfants sont installés sur la banquette dos à la route où il voyagent en toute sécurité. Il est possible de transformer cet espace en lit deux places pour accueillir les éventuels invités qui nous font le plaisir de partager un brin de chemin avec nous.

<br />
<br />
<img style="width: 11.1%;"
     src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-coin-repas.jpg"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan du coin repas"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Salon003.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - le coin repas 1"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Salon002.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - le coin repas 2"  />
<h2 class="sub-title">La cuisine</h2>
La cuisine est le lieu de toutes les expériences ! Nous faisons notre maximum pour rendre les repas variés et équilibrés au fil de nos trouvailles et de nos découvertes culinaires ! Et puis quand la nostalgie pointe le bout de son nez nous y mijotons de bons petits plats réconforts bien de chez nous (des crêpes, des pâtes, des oeufs à la coque, un chocolat chaud...). Le frigidaire a beau être discret, il est bel et bien présent et fonctionnel (cela dit pour l’instant on ne l’utilise que comme placard et on pense de plus en plus à nous en passer complètement). Les feux sont vaillants et l'évier bien pratique pour la corvée de vaisselle. La planche en bois qui s'emboite dans l'évier nous sert de planche à découper et permet de doubler la surface du plan de travail, ce qui est bien pratique lorsque l'on cuisine !

<br />
<br />
<img style="width: 11.1%;"
     src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-cuisine.jpg"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la cuisine"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Cuisine001.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la cuisine 1"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Cuisine003.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la cuisine 2"  /> <br/>

<img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Cuisine004.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la cuisine 1"  /><img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Cuisine002.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la cuisine 2"  />
<h2 class="sub-title">La salle de bain</h2>
L'expression est peut-être un peu excessive pour évoquer cette salle d'eau mais elle a le mérite de donner envie de s'y rendre ! Il s'agit en vérité d'un placard exigu où sont imbriqués de manière compacte une douche et des toilettes. Nous avons remplacé les toilettes chimiques par des toilettes sèches afin de limiter notre impact négatif sur l'environnement car ceux-ci sont très poluants (et je ne vous parle pas de l'odeur que ça dégage quand on roule). Sur le mur face aux toilettes, le grand miroir donne une belle illusion d'espace et apporte un surplus de lumière. Il nous a fallu de l'imagination et pas mal d’huile de coude pour rendre ce petit espace fonctionnel et agréable à utiliser !

<br />
<br />
<img style="width: 11.1%;"
     src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-salle-de-bain.jpg"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la salle de bain"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Salle_de_bain003.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la salle de bain 1"  /><img style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Salle_de_bain005.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la salle de bain 2"  /> <br/>

<img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Salle_de_bain002.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la salle de bain 1"  /><img style="width: 50%;"
     src="//www.melmelboo.fr/img/articles/2017/Salle_de_bain001.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la salle de bain 2"  />
<h2 class="sub-title">La chambre des parents</h2>
Au fond du camping-car se trouve notre lit. On l'a voulu permanent afin de ne pas avoir à le monter et démonter chaque jour, au quotidien ça nous semblait trop contraignant. Au départ il s'agissait d'un salon en U modulable en couchage deux places que nous avons remplacé par un vrai lit digne de ce nom. La nuit nous pouvons fermer cet espace avec un rideau. Notre lit fait aussi office de coin détente en journée pour bouquiner, jouer, regarder un film en famille, se faire des câlins ou des batailles de coussins. C'était important pour nous d'avoir un espace assez vaste, confortable et sécurisé, accessible en permanence où les enfants puissent s'installer en journée pour jouer sans être sans cesse dans nos pattes.

<br />
<br />
<img class="top_image"
     style="width: 11.1%;"
     src="//www.melmelboo.fr/img/articles/2016/Plan-camping-car-lit-parents.jpg"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - plan de la chambre des parents"  /><img class="top_image"
     style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Chambre006.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 1"  /><img class="top_image"
     style="width: 44.45%;"
     src="//www.melmelboo.fr/img/articles/2017/Chambre001.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 2"  /> <br/>

<img class="top_image"
     style="width: 40.9%;"
     src="//www.melmelboo.fr/img/articles/2017/Chambre003.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 1"  /><img class="top_image"
     style="width: 18.2%;"
     src="//www.melmelboo.fr/img/articles/2017/Chambre004.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 2"  /><img class="top_image"
     style="width: 40.9%;"
     src="//www.melmelboo.fr/img/articles/2017/Chambre005.JPG"
     alt="camping-car J5 2.5L turbo diesel challenger 450 SX - la chambre des parents 2"  />
<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Baloo notre camping car - Visite guidée"></section>
{% endblock %}
