{% extends "planning/layout.html" %}
{% block panel %}
<br/>
<br/>
<div class="linked-posts">
  <article class="row post-search">
    <header class="col-lg-4">
      <a href="/preparation/porte-bebe">
        <img style="width:92%;"
             alt="Quel porte bébé choisir pour voyager"
             src="/img/articles/2017/ling_ling-damour01.JPG" />
      </a>
    </header>
    <section class="post-excerpt col-lg-8">
      <a href="/preparation/porte-bebe">
        <h2 class="post-title">Quel porte bébé choisir pour voyager</h2>
        <p>Partir en voyage avec un bébé c’est bien, mais on fait comment pour l’embarquer partout avec nous ? Sur les chemins escarpés menant aux merveilleuses cascades de Plitvice en Croatie ? Dans les mines de sel de Wielicka en Pologne ? Dans les rues pavées de Tallinn en Estonie ? Sur les plages un peu éloignées ? Au sommet des château fort que nous croisons ?...</p>
        <p class="read-more">Lire la suite →</p>
      </a>
    </section>
  </article>
</div>
{% endblock %}
