{% extends "planning/layout.html" %}
{% block panel %}
<br/>
Voici notre page budget. Autant que possible, nous tiendrons à jour les dépenses liées à la préparation du voyage et au voyage lui-même afin d'y voir clair dans nos comptes mais aussi afin de permettre à de futurs voyageurs de se projeter dans leur financement.
<br /><br />

{% set post_price = {"liseuses (x2)": "(offertes par nos proches)",
                     "carnet de passage en douane": "(47 pour l'adhésion à l'ACA et 156 pour le CPD en soit)",
                     "refaire la carte grise perdue": "(puis la retrouver 1 heure après être sorti de la préfecture... bouleeeets !)"} %}
{% set total_cost = achats["camping_car"].values()|sum +
                    achats["equipement"].values()|sum +
                    achats["sante"].values()|sum +
                    achats["administratif"].values()|sum +
                    achats["vie_quotidienne"].values()|sum %}
{% set daily_cost = achats["vie_quotidienne"].values()|sum +
                    achats["camping_car"]["réparations diverses lors du voyage"] %}
<h2 class="sub-title">Camping-car</h2>
<ul>
  {% for item, price in achats["camping_car"].items(): %}
    <li>{{item}} :
      <strong>
        {{"{0:,}".format(price).replace(",", " ")}}
        € {% if post_price.get(item) %}{{post_price.get(item)}}{% endif %}
      </strong>
    </li>
  {% endfor %}
</ul>
Soit un total de
<strong>{{"{0:,}".format(achats["camping_car"].values()|sum).replace(",", " ")}} €</strong>
pour transformer le camping-car en fonction de nos besoins (et de nos envies aussi :) ) et le maintenir en bon état pendant le voyage. Les dépenses liées au camping-car auraient pu être nettement moins élevées si nous n'avions pas décidé de le remettre à notre goût mais... c'est notre maison maintenant et nous avions vraiment envie de nous y sentir aussi bien que possible !
<br /><br />
<h2 class="sub-title">Équipement</h2>
<ul>
  {% for item, price in achats["equipement"].items(): %}
    <li>{{item}} :
      <strong>
        {{"{0:,}".format(price).replace(",", " ")}}
        € {% if post_price.get(item) %}{{post_price.get(item)}}{% endif %}
      </strong>
    </li>
  {% endfor %}
</ul>
Soit un total de
<strong>{{"{0:,}".format(achats["equipement"].values()|sum).replace(",", " ")}} €</strong>
en équipements supplémentaires.
<br /><br />

<h2 class="sub-title">Santé</h2>
<ul>
  {% for item, price in achats["sante"].items(): %}
    <li>{{item}} :
      <strong>
        {{"{0:,}".format(price).replace(",", " ")}}
        € {% if post_price.get(item) %}{{post_price.get(item)}}{% endif %}
      </strong>
    </li>
  {% endfor %}
</ul>
Soit un total de
<strong>{{"{0:,}".format(achats["sante"].values()|sum).replace(",", " ")}} €</strong>
pour les dépenses liées à notre santé.
<br /><br />

<h2 class="sub-title">Administratif</h2>
<ul>
  {% for item, price in achats["administratif"].items(): %}
    <li>{{item}} :
      <strong>
        {{"{0:,}".format(price).replace(",", " ")}}
        € {% if post_price.get(item) %}{{post_price.get(item)}}{% endif %}
      </strong>
    </li>
  {% endfor %}
</ul>

Soit un total de
<strong>{{"{0:,}".format(achats["administratif"].values()|sum).replace(",", " ")}} €</strong>
pour les dépenses liées à l'administration.
Ce n'est pas dans le budget à proprement parler, mais le Carnet de Passage en Douane nécessite une caution de une fois et demi la valeur du véhicule à l'argus (~10 000 € pour nous) qui nous sera restitué une fois le véhicule de retour en France.
<br /><br />

<h2 class="sub-title">Vie quotidienne</h2>
<ul>
  {% for item, price in achats["vie_quotidienne"].items(): %}
    <li>{{item}} :
      <strong>
        {{"{0:,}".format(price).replace(",", " ")}}
        € {% if post_price.get(item) %}{{post_price.get(item)}}{% endif %}
      </strong>
    </li>
  {% endfor %}
</ul>
Soit un total de
<strong>{{"{0:,}".format(achats["vie_quotidienne"].values()|sum).replace(",", " ")}} €</strong>
pour les dépenses liées à notre vie quotidienne.
<br /><br />

<h2 class="sub-title">Bilan</h2>
Avec tout ça, nous sommes partis
depuis {{ days_past_since_departure }} jours et avons dépensé au total
<strong>{{"{0:,}".format(total_cost).replace(",", " ")}} €</strong>,
soit <strong>{{ "{0:,}".format((total_cost / days_past_since_departure)|round).replace(",", " ")|int }} € par jours</strong>.<br />
Ce total est trompeur au début car le prix des préparatifs est inclus dedans, ça sera lissé au fur et à mesure que les jours passerons.
Si on omet la partie préparations et qu'on ne garde que les dépenses liées à la vie (nourriture, essence…) et les réparations du camping car, ça donne <strong>{{ "{0:,}".format((daily_cost / days_past_since_departure)|round).replace(",", " ")|int }} € par jours</strong>.
<br/><br/>

<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Preparation - Budget"></section>
{% endblock %}
