{% extends "planning/layout.html" %}
{% block panel %}
<br/>
Voici notre page budget. Autant que possible, nous tiendrons à jour les dépenses liées à la préparation du voyage et au voyage lui-même afin d'y voir clair dans nos comptes mais aussi afin de permettre à de futurs voyageurs de se projeter dans leur financement.
<br /><br />

<h2 class="sub-title">Camping-car</h2>
<ul>
  <li>achat d'un camping-car d'occasion : <strong>11 500 €</strong></li>
  <li>fournitures travaux avant départ (outils, bois, peinture...) : <strong>260 €</strong></li>
  <li>fourniture décoration avant départ (tissus, accessoires...) : <strong>36 €</strong></li>
  <li>réparations diverses lors du voyage : <strong>-- €</strong></li>
</ul>
Soit un total de <strong>11 796 €</strong> pour transformer le camping-car en fonction de nos besoins (et de nos envies aussi :) ) et le maintenir en bon état pendant le voyage. Les dépenses liées au camping-car auraient pu être nettement moins élevées si nous n'avions pas décidé de le remettre à notre goût mais... c'est notre maison maintenant et nous avions vraiment envi de nous y sentir aussi bien que possible !
<br /><br />

<h2 class="sub-title">Équipement</h2>
<ul>
  <li>lombricomposteur : <strong>99 €</strong></li>
  <li>antenne wifi : <strong>-- €</strong></li>
  <li>tablette numérique : <strong>-- €</strong></li>
  <li>liseuse x2 : <strong>offertes par nos proches</strong></li>
</ul>
Soit un total de <strong>99 €</strong> en équipements supplémentaires.
<br /><br />

<h2 class="sub-title">Santé</h2>
<ul>
  <li>vaccination : <strong>1 489 €</strong></li>
  <li>trousse à pharmacie : <strong>-- €</strong></li>
</ul>
Soit un total de <strong>1 489 €</strong> pour les dépenses liées à notre santé.
<br /><br />

<h2 class="sub-title">Administratif</h2>
<ul>
<li>passeport : <strong>-- €</strong></li>
<li>permis international : <strong>-- €</strong></li>
<li>visa : <strong>-- €</strong></li>
<li>carnet de passage en douane : <strong>-- €</strong></li>
</ul>

Soit un total de <strong>-- €</strong> pour les dépenses liées à l'administration.
<br /><br />

<h2 class="sub-title">Vie quotidienne</h2>
<ul>
<li>essence : <strong>-- €</strong></li>
<li>nourriture : <strong>-- €</strong></li>
<li>loisirs : <strong>-- €</strong></li>
<li>divers (vêtements, souvenirs...) : <strong>-- €</strong></li>
</ul>
Soit un total de <strong>-- €</strong> pour les dépenses liées à notre vie quotidienne.
<br /><br />

<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Preparation - Budget"></section>
{% endblock %}
