{% extends "planning/layout.html" %}
{% block panel %}
<br/>
<img class="top_image" style="width: 49.7%;" src="//www.melmelboo.fr/img/articles/2016/Vaccin03.JPG" alt="Tour du monde, choix des vaccins" /> <img class="top_image" style="width: 49.7%;" src="//www.melmelboo.fr/img/articles/2016/Vaccin05.JPG" alt="Tour du monde, choix des vaccins" />
</br></br>
<h2 class="sub-title">Tout d'abord... être à jour dans nos vaccins</h2>
Avant toute chose, nous avons veillé à ce que les vaccins habituellement recommandés en France soient à jour pour toute la famille ! Ce qui est valable ici l'est aussi dans le reste du monde. Concernant Benoît, Camille et Charlie pas de souci, tous les vaccins sont à jour.
</br></br>
En revanche, Gaspard n'a que quatre mois et devra être vacciné au fur et à mesure du voyage. Nous complèterons donc ses vaccinations au cours de notre périple en suivant le tableau ci-dessous. Pour se faire le centre de vaccination nous a conseillé de prendre contact avec les embassades françaises que nous croiserons sur notre route afin qu'elles nous dirigent vers des médecins compétents (comme si nous étions expatriés).
</br></br>
<img class="top_image" style="width: 100%;" src="//www.melmelboo.fr/img/articles/2016/calendrier-vaccins-france.jpg" alt="Tour du monde, choix des vaccins" />

<h2 class="sub-title">Quels vaccins pour un tour du monde ?</h2>

Ne voulant prendre aucun risque superflu pour nous et nos enfants lors de notre voyage, nous nous sommes tournés vers le centre de vaccination pour grands voyageurs le plus proche de chez nous. Les professionnels que nous avons rencontrés à l'hôpital ont pris le temps d'écouter notre projet en détail et nous ont conseillé lors d'une consultation en famille. Ils ont pris le temps de répondre à nos nombreuses questions, notamment concernant Gaspard qui est encore un tout petit bébé (il aura seulement sept mois au moment du départ). La liste des vaccins à réaliser dépend des pays traversés lors de votre périple. En ce qui nous concerne nous séjournerons de manière prolongée en <strong>Europe</strong>, en <strong>Asie</strong> et en <strong>Amérique du Sud</strong>. Le personnel médical nous a conseillé d'effectuer les quatre vaccins suivants :
<ul>
  <li><strong>Hépatite A</strong></li>
  <li><strong>Rage</strong></li>
  <li><strong>Fièvre jaune</strong></li>
  <li><strong>Encéphalite japonaise</strong></li>
</ul>

Suite à cette consultation nous avons pris la décision de suivre leurs conseils afin de parer à un maximum de risques. Ils nous ont vacciné dans la foulée, à l'exception de Gaspard qui est encore trop petit. Il recevra le vaccin de l'encéphalite japonaise au dernier moment (un mois et demi avant le départ) et nous réaliserons les autres vaccinations au fur et à mesure du voyage, quand il sera en age de les supporter.

</br></br>
<h2 class="sub-title">Et en chiffres ça donne quoi ?</h2>
Lors d'un tour du monde, le coût des vaccins est un poste de dépenses non négligeable. Il s'agit d'un très gros budget qui n'est pris en charge que par quelques mutuelles (pensez à vous renseigner auprès de la votre). Pour faire vacciner notre famille avant le départ <strong>nous aurons finalement dépensé 1 489 €</strong> auxquels il faudra ajouter les frais liés aux vaccinations de Gaspard au cours du voyage. Ouille, ça pique !

<table>
 <thead>
  <tr>
   <th></th>
   <th>Hépatite A</th>
   <th>Rage</th>
   <th>Fièvre jaune</th>
   <th>Encéphalite japonaise</th>
   <th>TOTAL</th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>Vaccins Benoît</td>
    <td>28 € (une injection)</td>
    <td>180 € (trois injections)</td>
    <td>40 € (une injection)</td>
    <td>180 € (deux injections)</td>
    <td>428 €</td>
  </tr>
  <tr>
    <td>Vaccins Camille</td>
    <td>28 € (une injection)</td>
    <td>180 € (trois injections)</td>
    <td>40 € (une injection)</td>
    <td>180 € (deux injections)</td>
    <td>428 €</td>
  </tr>
  <tr>
    <td>Vaccins Charlie</td>
    <td>28 € (une injection)</td>
    <td>180 € (trois injections)</td>
    <td>40 € (une injection)</td>
    <td>180 € (deux injections)</td>
    <td>428 €</td>
  </tr>
  <tr>
    <td>Vaccins Gaspard</td>
    <td>_</td>
    <td>_</td>
    <td>_</td>
    <td>180 € (deux injections)</td>
    <td>180 €</td>
  </tr>
  <tr>
    <td><strong>TOTAL VACCINS</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>1 464 €</strong></td>
  </tr>
 </tbody>
</table>
Consultation médicale pour toute la famille : <strong>25 €</strong>
</br></br>
<h4 class="comment">Commenter cet article</h4>
<section id="isso-thread"
         data-title="Preparation - Vaccins"></section>
{% endblock %}
