{% extends "layout.html" %}
{% block content %}
<main id="content-home" class="content col-lg-9">
<h1>Une famille autour du monde</h1>
<div class="slide">
  {% for img_nb, img_title in [('01', 'Croatie'),
                               ('02', 'Russie'),
                               ('03', 'Croatie'),
                               ('04', 'Croatie'),
                               ('05', 'Croatie'),
                               ('06', 'Russie'),
                               ('07', 'Estonie'),
                               ('08', 'Russie'),
                               ('09', 'Slovaquie'),
                               ] %}
    <div>
      <img style="width:99.8%;" src="/images/page_accueil{{img_nb}}.JPG" alt="{{img_title}}" title="{{img_title}}" />
    </div>
  {% endfor %}
</div>
</main>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slide').slick({
      autoplay: true,
      arrows: false,
      fade: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      respondTo: 'min'
    });
  });
</script>
{% endblock %}
